*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
third_party/opencv-android-sdk/
# Local build logs
build_full.txt
build_log.txt
error.txt


# Room schema export (optional)
app/schemas/

